@import "qa.index.css";
@import "qa.view.css";
@import "qa.edit.css";
@import "qa.typeahead.css";

.qa-list {
    margin-top: 10px;
}

.qa-item-not-found {
    text-align: center;
}

.qa-panels {
    float: left;
    margin-right: 5px;
}

.qa-panel {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
    min-width: 64px;
    height: 54px;
    text-align: center;
    padding: 4px 8px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.qa-panel.status-answered {
    color: #71a311;
    font-weight: normal;
}

.qa-panel.status-answered-accepted {
    background-color: #71A311;
    color: #ffffff;
}

.qa-panel.status-answered-accepted strong {
    color: #ffffff;
}

.qa-panel.status-unanswered {
    color: #a52211;
}

.qa-panel-count {
    height: 25px;
    font-size: 160%;
    font-weight: normal;
}

.qa-panel.votes {
    color: #555;
}

.qa-panel.views {
    color: #999;
}

.qa-vote {
    color: #555;
    line-height: 24px;
    margin-bottom: 10px;
}

.qa-vote-up {
    margin-left: 2px;
}

.qa-vote-up,
.qa-vote-down {
    display: block;
    font-size: 16px;
}

.qa-vote-up-disabled,
.qa-vote-down-disabled {
    opacity: 0.5;
}

.qa-vote-count {
    display: block;
    color: #555;
    font-size: 24px;
    padding: 4px 2px;
}

.qa-favorite-link {
    font-size: 24px;
}

.qa-favorite-active .qa-favorite-link:hover,
.qa-favorite-link {
    color: #666;
}

.qa-favorite-active .qa-favorite-link,
.qa-favorite-link:hover {
    color: #f0ad4e;
}

.qa-answer-correct-button {
    cursor: default;
}

.qa-time {
    color: #999;
}

.qa-edit-links > a {
    display: inline-block;
}
